.labyrinthe {
    display: grid;
    padding: 50px;

}
.case{
    height: 50px;
    background-color: antiquewhite;
}

.visitedcolor {
    background-color: gray;
    padding: 20px;
    text-align: center;
}
.winnercolor{
    background-color: greenyellow;
    padding: 20px;
    text-align: center;
}

.visited{
    background-color: gray;
}

.winner{
    background-color: green !important;
}